{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="add">
        <a href="/alunos/add">Adicionar +</a>
    </div>
    <table>
        <tr>
            <th>Nome</th>
            <th>Matricula</th>
            <th>Edita</th>
            <th>Remove</th>
        </tr>
        {% for a in alunos %}
        <tr>
            <td>{{a.nome}}</td>
            <td>{{a.matricula}}</td>
            <td><a href="/alunos/edita/{{a.id}}">Editar</a></td>
            <td><a href="/alunos/remove/{{a.id}}">Remover</a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}